body {
    margin: 0;

    font-family: 'Open Sans', sans-serif;

    background: #2C2B3D;

    min-height: 100vh;
}

.page {
    width: 1000px;
    margin: 0 auto;
    padding-top: 70px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 55px;
}

ul {
    display: flex;
    gap: 64px;
    list-style: none;
    margin: 0;
    padding: 0;

    font-family: 'JetBrains Mono', monospace;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}


ul li a:hover {
    font-weight: bold;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1, footer {
    font-family: 'JetBrains Mono', monospace;
}

h1 {
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    margin: 0 77px;
    fonte-weight: normal;

    width: 614px;
}

h1 span {
    color: #00BFA6;

}

section #negrito span {
    color: #00BFA6;
    fonte-weight: bold;
}

section p {
    font-size: 16px;
    line-height: 28px;
    color: #C2C2C2;
    width: 604px;
    text-align: center;

    margin: 59px 92px 0px 82px;
}

footer {
    width: 568px;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #C2C2C2;
    margin: 0 auto 23px;
}

.line {
    width: 568px;
    height: 0px;
    margin: 100px auto 27px;
    border: 1px solid #00BFA6;
}

footer a {
    font-weight: bold;
}

#padlock {
    position: fixed;
    bottom: 20px;
    left: 20px;
}